.navbar-wrapper {
    display: grid;
    grid-template-columns: 2fr 3fr 1fr;
    background-color: rgb(249, 211, 140);
    height: 150px;

    .sutton-logo-wrapper {
        height: inherit;
        .sutton-logo {
            height: 80%;
            background-size: contain;
            background-repeat: no-repeat;
            margin-top: 10px;
        }
    }

    .navbar-links {
        height: inherit;
        display: flex;
        align-items: center;
        margin-left: 50px;
        .navbar-link {
            margin: 0 1rem;
            font-size: 1.5rem;
            color: rgb(105, 101, 101);
            text-decoration: none;
            transition: all 0.3s ease-in-out;

            &:hover {
                color: rgba(252, 252, 252, 0.865);
                text-decoration: none;
            }
        }
    }
    
    .homefloor-link {
        .homefloor-img {
            height: 75px;
            margin-top: 10px;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        .homefloor-text {
            font-weight: bold;
            color: #003374;
            text-align: center;
            text-decoration: none;
            text-transform: uppercase;
            text-shadow: 2px 1px 3px white;
            transition: all 0.3s ease-in-out;
        }
    
    }

}

@media screen and (max-width: 768px) {
    .navbar-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        .sutton-logo {
            height: auto;
            width: 200px;
        }
        .navbar-links {
            margin-left: 0;
            margin-top: 10px;
            .navbar-link {
                font-size: .75rem;
            }
        }
    }

}