.showcase-wrapper {
    .showcase-imgs-wrapper { 
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
        margin: 20px;
        .showcase-img-wrapper {
            display: flex;
            margin: 5px;
            max-height: 600px;
            img {
                width: 100%;
                height: auto;
                object-fit: cover;
            }
        }
    }
    .showcase-text-wrapper {
        position: absolute;
        left: 50%;
        top: 70%;
        transform: translate(-50%, -50%);
        background-color: aliceblue;
        opacity: 0.9;
        color: black;
        padding-left: 20px;
        padding-right: 20px;
        .text-header {
            text-align: center;
            font-weight: 700;
            font-size: 30px;
            padding-top: 20px;
        }
        p {
            font-size: 20px;
            padding-top: 20px;
            font-style: italic;
            line-height: 1.7em;
        }
    }
}

@media screen and (max-width: 768px) {
    .showcase-wrapper {
        .showcase-imgs-wrapper {
            display: flex;
            flex-direction: column;
            .showcase-img-wrapper {
                margin: 5px;
                img {
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                }
            }
        }
        .showcase-text-wrapper {
            .text-header {
                font-size: 20px;
            }
            p{
                font-size: 15px;
            }
        }
    }
}